<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Panopset</title>
    <link rel="stylesheet" href="../../../../../raw/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
    <script src="../../../../../raw/js/jquery.js" th:src="'/js/jquery.js'"></script>
    <script src="../../../../../raw/js/snap.svg-min.js" th:src="'/js/snap.svg-min.js'"></script>
    <script src="../../../../../raw/js/denebola/isalive.js" th:src="'/js/denebola/isalive.js'"></script>
    <script src="../../../../../raw/js/pansite.js" th:src="'/js/pansite.js'"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class>
    <a th:href="'/'" href="../index.html">
        <img id="panopset32" th:src="'/images/favicon-32.png'" src="../../../../../raw/images/favicon-32.png" alt="PANOPSET"/>
    </a>
    <a href="./denebola.html">Denebola</a> ~
    <a href="./denebola_hsl.html">High Score List</a> ~
    <a href="./denebola_config.html">Configuration</a>
</div>


<div th:if="${error != ''}">
    <h1 th:text="'Error: ' + ${error}">error</h1>
    <p>
        Please check server config.
    </p>
</div>

<script>

    const s = Snap(1000, 600);
    const c1 = s.circle(30, 30, 30);
    const c0 = createOrb(s, 240, 50, 50);

    c0.circle.attr({
        fill: "#ff0",
        stroke: "#f00",
        strokeWidth: 1
    });

    c0.circle.mouseover(function () {
        reportMouseOver(c0)
    });


    c1.attr({
        fill: "#cff"
    });


</script>

</body>
</html>
