<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Panopset</title>
    <link rel="icon" type="image/png" href="../../../../../raw/images/logo16.png" th:href="'images/logo16.png'" >
    <link rel="shortcut icon" href="../../../../../raw/images/favicon-32.png" th:href="'images/favicon-32.png'" >
    <link rel="stylesheet" href="../../../../../raw/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
    <script src="../../../../../raw/js/jquery.js" th:src="'/js/jquery.js'"></script>
    <script src="../../../../../raw/js/snap.svg-min.js" th:src="'/js/snap.svg-min.js'"></script>
    <script src="../../../../../raw/js/denebola/isalive.js" th:src="'/js/denebola/isalive.js'"></script>
    <script src="../../../../../raw/js/pansite.js" th:src="'/js/pansite.js'"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div th:replace="denebola/nav :: menuBarFragment"></div>


<div th:if="${error != ''}">
    <h1 th:text="'Error: ' + ${error}">error</h1>
    <p>
        Please check server config.
    </p>
</div>

<script>
    initGame();
</script>

</body>
</html>
