<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Panopset</title>
    <link rel="stylesheet" href="../../static/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
    <script src="../../static/js/jquery.js" th:src="'../js/jquery.js'"></script>
    <script src="../../static/js/snap.svg-min.js" th:src="'../js/snap.svg-min.js'"></script>
    <script src="../../static/js/denebola/isalive.js" th:src="'../js/denebola/isalive.js'"></script>
    <script src="../../static/js/pansite.js" th:src="'../js/pansite.js'"></script>
</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
    <nav class="menubar">
        <p>
            <a href="../index.html">Home</a> ~
            <a href="./denebola.html">Denebola</a> ~
            <a href="./hsl.html">High Score List</a> ~
            <a href="./config.html">Configuration</a>
            <button id="ptoggle" onclick="toggleScreens()">printer</button>
        </p>
    </nav>
</div>


<div th:if="${error != ''}">
    <h1 th:text="'Error: ' + ${error}">error</h1>
    <p>
        Please check server config.
    </p>
</div>

<script>

    const s = Snap(1000, 600);
    const c1 = s.circle(30, 30, 30);
    const c0 = createOrb(s, 240, 50, 50);

    c0.circle.attr({
        fill: "#ff0",
        stroke: "#f00",
        strokeWidth: 1
    });

    c0.circle.mouseover(function () {
        reportMouseOver(c0)
    });


    c1.attr({
        fill: "#cff"
    });


</script>

</body>
</html>
