<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Denebola High Score List</title>
    <link rel="stylesheet" href="../../static/css/site.css" th:href="'/css/site.css'" type="text/css"/>
</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
    <nav class="menubar">
        <p>
            <a href="../index.html">Home</a> ~
            <a href="denebola.html">denebola</a> ~
            <a href="./hsl.html">High Score List</a> ~
            <a href="./config.html">Configuration</a>
        </p>
    </nav>
</div>

<h1>Denebola High Score List</h1>

</body>
</html>
