<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../../../../../raw/css/pansite.css" type="text/css">
    <script src="../../../../../raw/js/jquery.js"></script>
    <script src="../../../../../raw/js/pansite.js"></script>
    <script src="../../../../../raw/js/clock.js"></script>
    <title>Panopset</title>
</head>

<div class="pad0" style="height: 32px" th:fragment="menuBarFragment">
    <nav class="menuBar">
        <ul class="pad0">
            <li id="bnr0">
                <a href="./home">
                    <img th:src="'/images/panopset.png'" src="../../../../../raw/images/panopset.png" alt="PANOPSET"/>
                </a>
            </li>
            <li><div class="menuSeparator">&nbsp;</div></li>
            <li><div class="menuSeparator">&nbsp;</div></li>
            <li class="padLeft linkDown"><a href="#">web <span>&#8227;</span></a>
                <ul>
                    <li><a href="./flywheel">flywheel</a></li>
                    <li><a href="./scrambler">scrambler</a></li>
                    <!--<li><a href="./denebola">denebola</a></li>-->
                </ul>
            </li>
            <li><div class="menuSeparator">&nbsp;</div></li>
            <li class="padLeft linkDown"><a href="#">app <span>&#8227;</span></a>
                <ul>
                    <li><a href="./checksum">checksum</a></li>
                    <li><a href="./lowerclass">lowerclass</a></li>
                    <li><a href="./blackjack">blackjack</a></li>
                </ul>
            </li>
            <li><div class="menuSeparator">&nbsp;</div></li>
            <li class="padLeft linkDown"><a href="#">nav <span>&#8227;</span></a>
                <ul>
                    <li><a href="./desk">desktop applications</a></li>
                    <li><a href="./build">building your own</a></li>
                    <li><a href="./about">license</a></li>
                    <li><a href="./news">news</a></li>
                    <li><a href="./download">download</a></li>
                    <li><a href="./lynx">lynx</a></li>
                </ul>
            <li><div class="menuSeparator">&nbsp;</div></li>
            <li>
                <button id="ptoggle" onclick="toggleScreens()">printer</button>
            </li>
            <li style="float: right">
                <span id="clock"></span><script>startTime();</script>
            </li>
        </ul>
    </nav>
</div></html>
