<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../../static/css/site.css" type="text/css">
    <title>Panopset</title>
</head>

<div style="height: 32px" th:fragment="menuBarFragment">
    <nav class="menubar">
        <p>
            <a href="../index.html" th:href="'/'">Home</a> ~
            <a href="../denebola/denebola.html" th:href="'/denebola/denebola'">Denebola</a> ~
            <a href="../denebola/hsl.html" th:href="'/denebola/hsl'">High Score List</a> ~
            <a href="../denebola/config.html" th:href="'/denebola/config'">Configuration</a>
        </p>
    </nav>
</div></html>
