<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <title>Panopset Desktop Applications Build</title>
 <link rel="shortcut icon" href="../../../../raw/images/favicon-32.png" th:href="'images/favicon-32.png'" />
 <link rel="stylesheet" href="../../../../raw/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
 <script src="../../../../raw/js/jquery.js" th:src="'/js/jquery.js'"></script>
 <script src="../../../../raw/js/pansite.js" th:src="'/js/pansite.js'"></script>
 <script src="../../../../raw/js/clock.js" th:src="'/js/clock.js'"></script>
</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
 <p>
  fragments/nav :: menuBarFragment
 </p>
</div>

<div class="inset">
<h1>Build</h1>
<p>
You may build a platform installer from the <a href="https://github.com/panopset/src">source code</a>.
Run
</p>
<ul><li> 
<b>./build.sh</b> on Linux or Macintosh, or
</li><li> 
<b>build.cmd</b> on Windows systems.
</li></ul>
<p>
That will put an installer in the src project target directory.
</p>
<p>
It will also copy <b>panopset.jar</b> into your home directory.
This is an all-in-one jar, that you may use with
your JRE, should you not wish to use an installer.
</p>
<div th:replace="fragments/body :: terms" th:remove="tag"></div>
</div>


<div th:replace="fragments/footer :: google_stats" th:remove="tag"></div>

</body></html>
