<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Panopset</title>
    <link rel="stylesheet" href="../../../../raw/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
    <script src="../../../../raw/js/jquery.js" th:src="'/js/jquery.js'"></script>
    <script src="../../../../raw/js/pansite.js" th:src="'/js/pansite.js'"></script>
</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
    <nav class="menubar">
        <p>
            <a href="./index.html">Home</a> ~
            <a href="denebola/denebola.html">Denebola</a> ~
            <a href="denebola/hsl.html">High Score List</a> ~
            <a href="denebola/config.html">Configuration</a>
            <button id="ptoggle" onclick="toggleScreens()">printer</button>
        </p>
    </nav>
</div>

<h1>home page</h1>

</body>
</html>
