<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Panopset</title>
    <link rel="stylesheet" href="../static/css/site.css" th:href="'/css/site.css'" type="text/css"/>

</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
    <nav class="menubar">
        <p>
            <a href="./index.html">Home</a> ~
            <a href="denebola/denebola.html">denebola</a> ~
            <a href="denebola/hsl.html">High Score List</a> ~
            <a href="denebola/config.html">Configuration</a>
        </p>
    </nav>
</div>

<h1>home page</h1>

</body>
</html>
