<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panopset Blackjack</title>
  <link rel="icon" type="image/png" href="../../../../raw/images/logo16.png" th:href="'images/logo16.png'" >
  <link rel="shortcut icon" href="../../../../raw/images/favicon-32.png" th:href="'images/favicon-32.png'" >
  <link rel="stylesheet" href="../../../../raw/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
  <script src="../../../../raw/js/jquery.js" th:src="'/js/jquery.js'"></script>
  <script src="../../../../raw/js/pansite.js" th:src="'/js/pansite.js'"></script>
  <script src="../../../../raw/js/clock.js" th:src="'/js/clock.js'"></script>
</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
  <p>
    fragments/nav :: menuBarFragment
  </p>
</div>

<div class="inset">

<h1>Useful links</h1>


    <div>


      <ul>
        <li><a href="https://digitalocean.com">digitalocean.com</a>: where panopset.com is hosted on a $6/month server.</li>
        <li><a href="https://letsencrypt.org/">letsencrypt.org</a>: where everybody gets the s in https for free.</li>
        <li><a href="https://github.com/">github.com</a>: where everybody stores their souce code.</li>
        <li><a href="https://validator.w3.org/">Html Checker</a></li>
        <li>Google's <a href="https://search.google.com/test/mobile-friendly">Mobile-Friendly Test</a></li>
        <li><a href="http://selfcss.org/">selfcss.org</a>: css editor.</li>
        <li><a href="https://bench.cr.yp.to/ebats.html">eBACS</a>: ECRYPT Benchmarking of Cryptographic Systems</li>
      </ul>


    </div>
  </div>

  <div th:replace="fragments/footer :: google_stats" th:remove="tag"></div>

</body></html>
