<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <title>Panopset News</title>
 <link rel="shortcut icon" href="../../../../raw/images/favicon-32.png" th:href="'images/favicon-32.png'" />
 <link rel="stylesheet" href="../../../../raw/css/pansite.css" th:href="'/css/pansite.css'" type="text/css"/>
 <script src="../../../../raw/js/jquery.js" th:src="'/js/jquery.js'"></script>
 <script src="../../../../raw/js/pansite.js" th:src="'/js/pansite.js'"></script>
 <script src="../../../../raw/js/clock.js" th:src="'/js/clock.js'"></script>
</head>
<body>

<div th:replace="fragments/nav :: menuBarFragment">
 <p>
  fragments/nav :: menuBarFragment
 </p>
</div>

<div class="inset">
<h1>News</h1>

<h3>August, 2021</h3>
<p>
Introduction of various platform installers.
</p>
<h3>July, 2021</h3>
<p>
Java 9 modules adopted.
</p>
<h3>April, 2020</h3>
<p>
Nice to see Android version of Blackjack featured
on <a href="https://gameskeys.net/hidden-gems-top-card-games-to-play">
gameskeys.net</a>!
</p>
</div>


<div th:replace="fragments/footer :: google_stats" th:remove="tag"></div>

</body></html>
