<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Denebola High Score List</title>
    <link rel="stylesheet" href="../../static/css/site.css" th:href="'/css/site.css'" type="text/css"/>
</head>
<body>

<p>
    <a href="../index.html" th:href="'/'">Home</a> ~
    <a href="./muck.html" th:href="'/muck/muck'">Muck</a> ~
    <a href="./hsl.html" th:href="'/muck/hsl'">High Score List</a> ~
    <a href="./config.html" th:href="'/muck/config'">Configuration</a>
</p>

<h1>Denebola High Score List</h1>

</body>
</html>
