<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Panopset</title>
    <link rel="stylesheet" href="../../static/css/site.css" th:href="'/css/site.css'" type="text/css"/>
    <script src="../../static/js/jquery.js" th:src="'../js/jquery.js'"></script>
    <script src="../../static/js/snap.svg-min.js" th:src="'../js/snap.svg-min.js'"></script>
    <script src="../../static/js/muck/isalive.js" th:src="'../js/muck/isalive.js'"></script>
</head>
<body>

<p>
    <a href="../index.html" th:href="'/'">Home</a> ~
    <a href="./muck.html" th:href="'/muck/muck'">Muck</a> ~
    <a href="./hsl.html" th:href="'/muck/hsl'">High Score List</a> ~
    <a href="./config.html" th:href="'/muck/config'">Configuration</a>
</p>

<div th:if= "${error != ''}">
    <h1 th:text="'Error: ' + ${error}">error</h1>
    <p>
        Please check server config.
    </p>
</div>

 <script>

var s = Snap(1000, 600);
var c1 = s.circle(30, 30, 30);
//var c0 = s.circle(240, 50, 50);
var c0 = createOrb(s,240,50,50);

c0.circle.attr({
  fill: "#ff0",
  stroke: "#f00",
  strokeWidth: 1
});

c0.circle.mouseover(function() {reportMouseOver(c0)});


c1.attr({
 fill: "#cff"
});





</script>

</body>
</html>
